<aside class="sidebar">
    <div id="leftside-navigation">
        <ul class="nano-content">
                <li class="sub-menu {{#compare Menu '===' 'demo'}}on{{else}}{{/compare}}">
                    <a href="{{adminDir}}/demoo/">
                        <span>demo</span>
                    </a>
                </li>




        </ul>
    </div>
</aside>